<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bib.basiclibraryspring.mapperr">

    <!-- Insert book -->
    <insert id="addBook" parameterType="Books">
        insert into books(name, subject, description, genre, author)
        values (#{name}, #{subject}, #{description}, #{genre}, #{author});
    </insert>

    <!-- Delete books by book number -->
    <delete id="deleteBookById" parameterType="Long">
        delete
        from books
        where id = #{id}
    </delete>

    <!-- Modify book information -->
    <update id="updateBook" parameterType="Books">
        update books
        set name=#{name},
            subject=#{subject},
            description=#{description}
            genre=#{genre}
            author=#{author}
        where id = #{id};
    </update>

    <!-- Query books by number -->
    <select id="queryBookById" resultType="Books">
        select *
        from books
        where id = #{id};
    </select>

    <!-- Query books by book name -->
    <select id="queryBookByName" resultType="Books" parameterType="String">
        select *
        from books
        where name = #{name}
    </select>

</mapper>